DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

# Mail provider selection
# Options: mailhog | resend
MAIL_PROVIDER=resend
EMAIL_RESEND_COOLDOWN_MILLISECOND=60000