DATABASE_URL=postgresql://myuser:password@localhost:5432/myapp
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

#github localでのmailhog用
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=test@example.com
SMTP_PASS=

# Mail provider selection
# Options: mailhog | resend
MAIL_PROVIDER=resend
EMAIL_RESEND_COOLDOWN_MILLISECOND=60000